@page "/citizen/dashboard"
@inject HttpClient http
@inject AppState state

<PageTitle Title="Dashboard" />

<h3>Welcome, @state.User!.Name!</h3>

<Loading OnLoad=@LoadProfile Message=@(new MarkupString("Retrieving your employment profile&hellip;"))>
  @if (Profile != null)
  {
    <p>
      Your employment profile was last updated <FullDateTime TheDate=@Profile.LastUpdatedOn />. Your profile currently
      lists @Profile.Skills.Length skill@(Profile.Skills.Length != 1 ? "s" : "").
    </p>
    <p><a href="/profile/view/@state.User.Id">View Your Employment Profile</a></p>
    @if (Profile.SeekingEmployment)
    {
      <p>
        Your profile indicates that you are seeking employment. Once you find it,
        <a href="/success-story/add">tell your fellow citizens about it!</a>
      </p>
    }
  }
  else
  {
    <p>
      You do not have an employment profile established; click &ldquo;Edit Profile&rdquo; in the menu to get
      started!
    </p>
  }
  <hr>
  <p>
    There @(ProfileCount == 1 ? "is" : "are") @(ProfileCount == 0 ? "no" : ProfileCount) employment
    profile@(ProfileCount != 1 ? "s" : "") from citizens of Gitmo Nation.
    @if (ProfileCount > 0)
    {
      <text>Take a look around and see if you can help them find work!</text>
    }
  </p>
</Loading>
<hr>
<p>
  To see what is currently done, and how this application works, check out &ldquo;How It Works&rdquo; in the sidebar.
  The application now has 4 of 5 phases complete towards version 1.0; the documentation was last updated January
  31<sup>st</sup>, 2021.
</p>
