a.jjj-c-collapsed,
a.jjj-c-open {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
a.jjj-c-collapsed:hover,
a.jjj-c-open:hover {
  cursor: pointer;
}
.jjj-c-collapsed::before {
  content: '\2b9e \00a0';
}
.jjj-c-open::before {
  content: '\2b9f \00a0';
}