<nav class="nav nav-pills">
  <a href="#" class="nav-link @MarkdownClass" @onclick="ShowMarkdown" @onclick:preventDefault>Markdown</a>
  <a href="#" class="nav-link @PreviewClass" @onclick="ShowPreview" @onclick:preventDefault>Preview</a>
</nav>
@if (_showPreview)
{
  <section class="preview">
    @PreviewText
  </section>
}
else
{
  <textarea id="@Id" @bind="@PlainText" @bind:event="oninput" class="form-control" rows="10">
  </textarea>
}
