@using JobsJobsJobs.Shared.Api

<EditForm Model=@Criteria OnValidSubmit=@OnSearch>
  <div class="form-row">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
      <label for="continentId" class="jjj-label">Continent</label>
      <InputSelect id="continentId" @bind-Value=@Criteria.ContinentId class="form-control form-control-sm">
        <option value="">&ndash; Any &ndash;</option>
        @foreach (var (id, name) in Continents)
        {
          <option value="@id">@name</option>
        }
      </InputSelect>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
      <label for="region" class="jjj-label">Region</label>
      <InputText id="region" @bind-Value=@Criteria.Region class="form-control form-control-sm"
                 placeholder="(free-form text)" />
    </div>
    <div class="col col-12 col-sm-6 offset-md-2 col-lg-3 offset-lg-0">
      <label class="jjj-label">Seeking Remote Work?</label><br>
      <InputRadioGroup @bind-Value=@Criteria.RemoteWork>
        <div class="form-check form-check-inline">
          <InputRadio id="remoteNull" Value=@("") class="form-check-input" />
          <label for="remoteNull" class="form-check-label">No Selection</label>
        </div>
        <div class="form-check form-check-inline">
          <InputRadio id="remoteYes" Value=@("yes") class="form-check-input" />
          <label for="remoteYes" class="form-check-label">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <InputRadio id="remoteNo" Value=@("no") class="form-check-input" />
          <label for="remoteNo" class="form-check-label">No</label>
        </div>
      </InputRadioGroup>
    </div>
    <div class="col col-12 col-sm-6 col-lg-3">
      <label for="skillSearch" class="jjj-label">Skill</label>
      <InputText id="skillSearch" @bind-Value=@Criteria.Skill class="form-control form-control-sm"
                 placeholder="(free-form text)" />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <br>
      <button type="submit" class="btn btn-sm btn-outline-primary">Search</button>
    </div>
  </div>
</EditForm>

@code {
  [Parameter]
  public PublicSearch Criteria { get; set; } = default!;

  [Parameter]
  public EventCallback OnSearch { get; set; } = default!;

  [Parameter]
  public IEnumerable<Continent> Continents { get; set; } = default!;
}
