@page
@model JobsJobsJobs.Server.Pages._HostModel
@{
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Jobs, Jobs, Jobs</title>
    <base href="/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="JobsJobsJobs.Client.styles.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <component type="typeof(JobsJobsJobs.Client.App)" render-mode="WebAssemblyPrerendered" />
  </div>

  <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
  </div>
  <script src="_framework/blazor.webassembly.js"></script>
  <script>
    var Audio = {
      play(audio) {
        document.getElementById(audio).play()
      }
    }
    function setPageTitle(theTitle) {
      document.title = theTitle
    }
    function getTimeZone() {
      return Intl.DateTimeFormat().resolvedOptions().timeZone
    }
  </script>
</body>

</html>
