@page "/listings/mine"
@inject HttpClient http
@inject NavigationManager nav
@inject AppState state

<PageTitle Title="My Job Listings" />
<h3>My Job Listings</h3>

<Loading OnLoad=@OnLoad Message=@(new MarkupString("Loading job listings&hellip;"))>
  <p>
    <a class="btn" href="/listing/new/edit">Add a New Job Listing</a>
  </p>
  @if (Listings.Any())
  {
    <table>
      <thead>
        <tr>
          <th>Action</th>
          <th>Title</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var listing in Listings)
        {
          <tr>
            <td><a href="/listing/@listing.Id/edit">Edit</a></td>
            <td>@listing.Title</td>
            <td><FullDateTime TheDate=@listing.CreatedOn /></td>
            <td><FullDateTime TheDate=@listing.UpdatedOn /></td>
          </tr>
        }
      </tbody>
    </table>
  }
  else
  {
    <p><em>No job listings found</em></p>
  }
</Loading>
