@page "/profile/seeking"
@inject HttpClient http
@inject NavigationManager nav
@inject AppState state

<PageTitle Title="People Seeking Work" />
<h3>People Seeking Work</h3>

<ErrorList Errors=@ErrorMessages>
  @if (Searching)
  {
    <p>Searching profiles...</p>
  }
  else
  {
    if (!Searched)
    {
      <p>Enter one or more criteria to filter results, or just click &ldquo;Search&rdquo; to list all profiles.</p>
    }
    <Collapsible HeaderText="Search Criteria" Collapsed=@(Searched && SearchResults.Any())>
      <PublicSearchForm Criteria=@Criteria OnSearch=@DoSearch Continents=@Continents />
    </Collapsible>
    <br>
    @if (SearchResults.Any())
    {
      <p>
        These profiles match your search criteria. To learn more about these people, join the merry band of human
        resources in the <a href="https://noagendashow.net" target="_blank">No Agenda</a> tribe!
      </p>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Continent</th>
            <th scope="col" class="text-center">Region</th>
            <th scope="col" class="text-center">Remote?</th>
            <th scope="col" class="text-center">Skills</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var profile in SearchResults)
          {
            <tr>
              <td>@profile.Continent</td>
              <td>@profile.Region</td>
              <td class="text-center">@YesOrNo(profile.RemoteWork)</td>
              <td>
                @foreach (var skill in profile.Skills)
                {
                  @skill.Replace(" ()", "")<br>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
    else if (Searched)
    {
      <p>No results found for the specified criteria</p>
    }
  }
</ErrorList>
