@page "/success-story/list"
@inject HttpClient http
@inject AppState state

<PageTitle Title="Success Stories" />

<h3>Success Stories</h3>

<ErrorList Errors=@ErrorMessages>
  @if (Loading)
  {
    <p>Loading...</p>
  }
  else if (Stories.Any())
  {
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Story</th>
          <th scope="col">From</th>
          <th scope="col">Recorded On</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var story in Stories)
        {
          <tr>
            <td>
              <a href="/success-story/view/@story.Id">View</a>
              @if (story.CitizenId == state.User!.Id)
              {
                <text> ~ <a href="/success-story/edit/@story.Id">Edit</a></text>
              }
            </td>
            <td>@story.CitizenName</td>
            <td><FullDate TheDate=@story.RecordedOn /></td>
          </tr>
        }
      </tbody>
    </table>
  }
  else
  {
    <p>There are no success stories recorded <em>(yet)</em></p>
  }
</ErrorList>
