@page "/success-story/view/{Id}"
@inject HttpClient http
@inject AppState state

<PageTitle Title="Success Story" />

<Loading OnLoad=@RetrieveStory>
  <h3>@Citizen.DisplayName&rsquo;s Success Story</h3>
  <h4><FullDateTime TheDate=@Story.RecordedOn /></h4>
  @if (Story.FromHere)
  {
    <p><em><strong>Found via Jobs, Jobs, Jobs</strong></em></p>
  }
  <hr>
  @if (Story.Story != null)
  {
    <div>@(new MarkupString(Story.Story.ToHtml()))</div>
  }
</Loading>
